.ll {
    float: left;
}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0;
}

a:link {
    color: #3377AA;
    text-decoration: none;
}

a {
    cursor: pointer;
}
#rating {
    color: #000000;
    font: bold 18px arial,sans-serif;
    height: 20px;
    width: 160px;
}