a.CDcover100 {
background: url(http://img.xiami.net/res/img/default/cd100.png) 0 0 no-repeat;
padding: 7px 6px 14px 17px;
width: 100px;
height: 100px;
display: block;
}

.CDcover100 img{
	width: 100px;
	height: 100px;
}

.album-item .album-info{
	margin-left: 10px;
}

.album-item .album-info p{
	text-decoration: none;
	color: #3366cc;
	cursor: pointer;	
}

.album-item .album-info .album-description p{
	color: #999;
}